h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 2.4em;
  line-height: 44px;
  font-weight: 600;
}

.brand {
  display: block;
  margin-top: 6px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: center;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.hero-area {
  height: 600px;
  background-image: url('../images/Hero-Area-Image.png');
  background-position: 50% 33%;
  background-size: cover;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.hero-area.sign-up {
  height: 200px;
  text-align: center;
}

.container {
  display: block;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
}

.container-6 {
  padding: 165px 0px 174px;
}

.hero-text {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 500;
}

.text-block {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 1.4em;
  font-weight: 200;
}

.text-block._2 {
  margin-top: 0px;
  margin-bottom: 37px;
  font-family: Montserrat, sans-serif;
  color: #2d52a2;
}

.text-block._2._3 {
  text-align: center;
}

.subscribe-button {
  display: inline-block;
  padding: 18px 44px;
  border-radius: 66px;
  background-color: #2d52a2;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
}

.column {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image {
  overflow: hidden;
  width: 130%;
  height: 130%;
  max-width: 150%;
  margin-left: -254px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.heading {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  color: #353535;
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: 300;
}

.column-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 115px 10% 115px 100px;
}

.web-page-example {
  padding-top: 45px;
  padding-bottom: 45px;
  color: #fff;
}

.benefits-description {
  font-family: Montserrat, sans-serif;
  font-size: 2.1em;
  line-height: 1.1em;
  font-weight: 600;
  text-align: center;
}

.footer {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #f93;
}

.container-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer-logo {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  margin: 0px auto 15px;
}

.text-block-2 {
  margin-top: 23px;
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: 300;
  text-align: center;
}

.services-section {
  padding-top: 52px;
  padding-bottom: 90px;
  background-color: #f2f5fa;
}

.row-2 {
  margin-top: 40px;
}

.benefits-header {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #f63;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 500;
}

.unordered-list {
  padding-left: 19px;
  font-size: 19px;
}

.text-span {
  font-size: 17px;
  font-style: italic;
}

.bold-text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.list-item-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.list-item-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-item-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: 300;
}

.column-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.column-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.section-2 {
  padding-top: 69px;
  padding-bottom: 41px;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
}

.heading-2 {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 7px;
  margin-left: auto;
  font-size: 1.7em;
  line-height: 1.2em;
  text-align: center;
}

.container-7 {
  padding-top: 88px;
}

.heading-3 {
  font-weight: 600;
}

.text-field {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
}

.text-field-2 {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
  border-radius: 6px;
}

.text-field-3 {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
  border-radius: 6px;
}

.client-information {
  padding-top: 45px;
  padding-bottom: 25px;
}

.heading-4 {
  display: block;
  width: 100%;
  margin: 0px auto;
  font-family: Montserrat, sans-serif;
  color: #f63;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: 600;
  text-align: center;
}

.div-block {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  width: 70%;
  height: 1px;
  margin: 43px auto 15px;
  background-color: #c3c3c3;
}

.phone-number {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  color: #2d52a2;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.email {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  color: #2d52a2;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.div-block-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 70%;
  height: 1px;
  margin-top: 43px;
  background-color: #b3b3b3;
  color: #9b9b9b;
}

.video-div {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-3 {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  color: #2d52a2;
  font-size: 1.9em;
  font-weight: 500;
  text-align: center;
}

.video-title-div {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.copyright-text-footer {
  display: block;
  margin: 15px auto 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em;
}

.contact-footer-link {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.footer-home-link {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  color: #fff;
  text-decoration: none;
}

.div-block-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: right;
  clear: right;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
}

.heading-6 {
  float: right;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 0.9em;
  font-weight: 600;
  text-align: center;
}

.column-5 {
  padding-right: 60px;
}

.div-block-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.nav-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 0.8em;
  font-weight: 300;
}

.nav-link-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 0.8em;
  font-weight: 300;
}

.heading-7 {
  margin-bottom: 4px;
  font-family: Montserrat, sans-serif;
  color: #f63;
  font-size: 2.2em;
  line-height: 1.4em;
  font-weight: 600;
}

.heading-8 {
  margin-top: 58px;
  color: #f63;
  font-size: 2.2em;
  line-height: 1.2em;
  text-align: center;
}

.html-embed {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.bold-text-2 {
  font-size: 1.3em;
  font-weight: 600;
}

.bold-text-3 {
  font-size: 1.3em;
  font-weight: 600;
}

.bold-text-4 {
  font-size: 1.3em;
  font-weight: 600;
}

.text-span-2 {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 300;
}

.html-embed-2 {
  margin-top: 41px;
}

.success-message {
  padding-bottom: 34px;
}

.form {
  width: 100%;
}

.field-label {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center;
}

.field-label-2 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center;
}

.field-label-3 {
  font-weight: 600;
  text-align: center;
}

.container-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form-block {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-2 {
  margin-top: 0px;
}

.textarea {
  display: block;
  width: 60%;
  height: 250px;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
}

.div-block-5 {
  text-align: center;
}

.div-block-6 {
  display: block;
  text-align: center;
}

.section-4 {
  padding-top: 94px;
  padding-bottom: 40px;
}

.text-span-3 {
  font-family: Montserrat, sans-serif;
  font-size: 1.9em;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
}

.paragraph {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 41px;
  margin-left: auto;
  text-align: center;
}

.bold-text-5 {
  color: #f93;
}

.text-block-5 {
  margin-bottom: 48px;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
}

.checkout-header-banner {
  height: 125px;
  padding-top: 37px;
  background-color: #f93;
}

.div-block-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text-span-4 {
  font-family: Montserrat, sans-serif;
  font-size: 2em;
}

.privacy-policy-text-span {
  font-family: Montserrat, sans-serif;
  font-size: 1.6em;
  font-weight: 600;
}

.privacy-policy-footer-link {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  color: #fff;
  text-decoration: none;
}

.privacy-policy-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.link-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media (max-width: 991px) {
  .hero-area {
    height: 500px;
    padding-right: 45px;
    padding-left: 45px;
  }
  .hero-text {
    font-size: 1.8em;
  }
  .text-block {
    font-size: 1.2em;
  }
  .subscribe-button {
    padding: 12px 22px;
    font-size: 1.2em;
  }
  .image {
    width: 150%;
    height: 150%;
    margin-left: -176px;
  }
  .column-2 {
    padding: 3% 5% 6% 67px;
  }
  .benefits-description {
    font-size: 1.9em;
  }
  .services-section {
    padding-right: 42px;
    padding-left: 42px;
  }
  .text-field {
    width: 80%;
  }
  .text-field-2 {
    width: 80%;
    margin-bottom: 21px;
  }
  .text-field-3 {
    width: 80%;
  }
  .heading-4 {
    line-height: 1.1em;
  }
  .text-span-2 {
    font-size: 0.7em;
  }
  .form-2 {
    margin-top: 0px;
  }
  .textarea {
    width: 80%;
  }
  .div-block-6 {
    text-align: center;
  }
  .section-4 {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .text-block-5 {
    font-size: 1.3em;
  }
}

@media (max-width: 767px) {
  .hero-area {
    height: 650px;
  }
  .container-6 {
    padding-top: 127px;
  }
  .column {
    text-align: center;
  }
  .image {
    margin-left: -265px;
  }
  .column-2 {
    text-align: center;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-2 {
    padding-top: 56px;
  }
  .heading-2 {
    margin-bottom: 17px;
  }
  .text-field {
    width: 80%;
  }
  .text-field-2 {
    width: 80%;
  }
  .text-field-3 {
    width: 80%;
  }
  .section-4 {
    padding-top: 77px;
  }
  .column-6 {
    margin-top: 31px;
  }
  .text-block-5 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2em;
  }
}

@media (max-width: 479px) {
  .hero-area {
    height: 700px;
    padding-right: 22px;
    padding-left: 22px;
  }
  .container-6 {
    padding-top: 131px;
  }
  .hero-text {
    text-align: center;
  }
  .text-block {
    text-align: center;
  }
  .text-block._2 {
    margin-bottom: 20px;
    font-size: 1.1em;
  }
  .image {
    margin-left: -153px;
  }
  .heading {
    font-size: 1.3em;
  }
  .column-2 {
    padding-top: 11%;
    padding-bottom: 13%;
    padding-left: 5%;
    text-align: center;
  }
  .benefits-description {
    font-size: 1.4em;
  }
  .benefits-header {
    line-height: 1.1em;
    text-align: center;
  }
  .unordered-list {
    font-size: 17px;
  }
  .text-span {
    font-size: 15px;
  }
  .text-block-3 {
    font-size: 1.1em;
    text-align: center;
  }
  .column-3 {
    margin-top: 17px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-4 {
    margin-top: 39px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-2 {
    padding-top: 45px;
  }
  .heading-2 {
    width: 80%;
    margin-bottom: 14px;
  }
  .text-field {
    width: 100%;
  }
  .text-field-2 {
    width: 100%;
  }
  .text-field-3 {
    width: 100%;
  }
  .heading-7 {
    margin-top: 39px;
    font-size: 2em;
  }
  .heading-8 {
    margin-top: 87px;
    font-size: 2em;
  }
  .text-span-2 {
    line-height: 0.4em;
  }
  .form-2 {
    padding-right: 22px;
    padding-left: 22px;
  }
  .textarea {
    width: 100%;
  }
  .section-4 {
    padding-bottom: 89px;
  }
  .text-span-3 {
    font-size: 1.6em;
  }
  .paragraph {
    width: 80%;
  }
  .column-6 {
    margin-top: 50px;
  }
  .div-block-7 {
    text-align: center;
  }
  .text-block-5 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2em;
    line-height: 19px;
  }
}
.cart-div {
  min-height: 800px;
  padding: 30px 61px 61px;
}